[user]
	name = SametSisartenep
	email = rodrigosloop@gmail.com
	signingkey = 447E41FE
[core]
	editor = nvim
	pager = diff-so-fancy | less
[alias]
  permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
  ignore = !echo >> .gitignore
  anotag = tag -a
[commit]
  gpgsign = true
[color]
  ui = always
[color "diff"]
  meta = yellow
  commit = green
  frag = magenta
  old = red
  new = green
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = green bold
  newHighlight = "green bold 22"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
