style "nautilus-mode-button"
{
	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "Mode/mode_hover.png"
			border			= { 3, 6, 3, 3 }
			stretch         	= TRUE
		}
	  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= NORMAL
			file			= "Mode/mode_normal.png"
			border			= { 3, 6, 3, 3 }
			stretch         	= TRUE
		}
	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file			= "Mode/mode_push.png"
			border			= { 3, 6, 3, 3 }
			stretch         	= TRUE
		}  

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file			= "Mode/mode_normal.png"
			border			= { 3, 6, 3, 3 }
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= SELECTED
			file			= "Mode/mode_push.png"
			border			= { 3, 6, 3, 3 }
			stretch         	= TRUE
		}
	}

}

widget		"*GtkModeButton*"		style "nautilus-mode-button"
