style "eog-window" = "theme-dark"
{
	xthickness              = 0
	ythickness              = 0
	
	GtkWidget::shadow_type			= GTK_SHADOW_NONE
	GtkWidget::draw_border			= {0,0,0,0}
	GtkScrolledWindow::scrollbar-spacing	= 0
	GtkScrolledWindow::shadow_type		= GTK_SHADOW_NONE	
}

style "eog-statusbar" = "eog-window"
{
	xthickness                    = 6
	ythickness                    = 4

	GtkStatusbar::shadow_type     = GTK_SHADOW_NONE	
}

#style "eog-scrollbar-dark"
#{
#	bg[ACTIVE]	= @bg_color_dark
#	bg[NORMAL]	= "#222222"
#	bg[PRELIGHT] 	= "#707070"
#	base[NORMAL]	= @bg_color

#    	xthickness = 0
#    	ythickness = 0
	
#	engine "murrine"
#	{
#	curvature = 5
#	}
#}

widget "EogWindow"						style "eog-window"
widget "EogWindow.GtkVBox.GtkVBox"				style "eog-window"

#widget_class "EogWindow.GtkVBox.GtkVBox*Scrollbar"		style "eog-scrollbar-dark"
widget_class "Eog*Statusbar*"                  			style "eog-statusbar"
