style "nautilus-window-base"
{
	bg[NORMAL] = "#d7e0e8"
}

style "nautilus-sidebar" = "sidebar"
{
	xthickness = 0
	ythickness = 0
	text[NORMAL] = @text_color
	bg[NORMAL] = "#d7e0e8"

	GtkTreeView::odd_row_color = "#d7e0e8"
	GtkTreeView::even_row_color = "#d7e0e8"

	GtkTreeView::horizontal_separator	= 15
	GtkTreeView::vertical_separator		= 2

	engine "murrine" 
	{
		contrast 		= 0.5
		arrowstyle              = 1
		border_shades		    = { 1.3, 1.2 }		
		glazestyle              = 0
		gradient_shades         = {1.13,0.99,0.99,0.82}
		glowstyle               = 0
		glow_shade 		= 1.0
		highlight_shade         = 1.0		# set highlight amount for buttons or widgets
		lightborder_shade       = 1.3		# sets lightborder amount for buttons or widgets
		lightborderstyle        = 0		# 0 = lightborder on top side, 1 = lightborder on all sides
		menuitemstyle           = 1		# 0 = flat, 1 = glassy, 2 = striped
		reliefstyle             = 3		# 0 = flat, 1 = inset, 2 = shadow, 3 = shadow with gradient, 4 = stronger shadow with gradient
		rgba                    = FALSE		# Alpha transparency
		roundness               = 0		# 0 = square
	}

}

style "nautilus-sidebar-other" = "nautilus-sidebar"
{
	xthickness = 0
	ythickness = 0
	bg[NORMAL] = "#d7e0e8"
}

style "nautilus-view"
{
	xthickness = 0
	ythickness = 0
}

style "nautilus-handle"
{
	GtkPaned::handle-size         = 1
	
	engine "pixmap"
	{
		image # for the thin gray line separating the sidepane and viewpane
		{
		    function		= HANDLE
		    recolorable		= TRUE
		    file		= "/Sidebar/handle.png"
		    stretch		= TRUE
		    border 		= { 0, 0, 0, 0 }
		}
	}
}

style "nautilus-statusbar" = "theme-default"
{
  	GtkStatusbar::shadow_type 			= GTK_SHADOW_NONE

	xthickness	= 2

	bg[NORMAL]	= @selected_fg_color #color of status bar
	bg[PRELIGHT]	= shade (1.16, mix (0.1, @bg_color, @selected_bg_color))
	bg[SELECTED]	= @fg_color

	fg[NORMAL]	= @fg_color

	base[SELECTED]	= shade (0.8, @selected_bg_color)
}

style "nautilus-scale" = "theme-scale"
{
  engine "pixmap" 
  {
    image 
    {
      function			= BOX
      recolorable		= TRUE
      detail				= "trough"
      file				= "Range/trough-horizontal.png"
      border			= { 12, 12, 1, 2 }
      stretch			= TRUE
      orientation		= HORIZONTAL
    }	
    image 
    {
      function			= BOX
      recolorable		= TRUE
      detail				= "trough"
      file				= "Range/trough-vertical.png"
      border			= { 2, 1, 12, 12 }
      stretch			= TRUE
      orientation		= VERTICAL
    }

############### the sliders ###############

    image 
    {
      function				= SLIDER
      recolorable			= TRUE
      state           		= NORMAL
      file					= "Range/null.png"
      border				= { 0, 0, 0, 0 }
      stretch				= TRUE
      overlay_file			= "Range/slider-horiz2.png"
      overlay_stretch	= FALSE
      orientation			= HORIZONTAL
    }
    image 
    {
      function				= SLIDER
      recolorable			= TRUE
     state           			= PRELIGHT
      file					= "Range/null.png"
      border				= { 0, 0, 0, 0 }
      stretch				= TRUE
      overlay_file			= "Range/slider-horiz2p.png"
      overlay_stretch	= FALSE
      orientation			= HORIZONTAL
    }
    image 
    {
      function				= SLIDER
      recolorable			= TRUE
      state           		= INSENSITIVE
      file					= "Range/null.png"
      border				= { 0, 0, 0, 0 }
      stretch				= TRUE
      overlay_file			= "Range/slider-horiz2.png"
      overlay_stretch	= FALSE
      orientation			= HORIZONTAL
    }

######################### VERTICAL ###########################

    image 
    {
      function				= SLIDER
      recolorable			= TRUE
      state           		= NORMAL
      file					= "Range/null.png"
      border				= { 0, 0, 0, 0 }
      stretch				= TRUE
      overlay_file			= "Range/slider-horiz2.png"
      overlay_stretch	= FALSE
      orientation			= VERTICAL
    }
    image 
    {
      function				= SLIDER
      recolorable			= TRUE
     state           			= PRELIGHT
      file					= "Range/null.png"
      border				= { 0, 0, 0, 0 }
      stretch				= TRUE
      overlay_file			= "Range/slider-horiz2p.png"
      overlay_stretch	= FALSE
      orientation			= VERTICAL
    }
    image 
    {
      function				= SLIDER
      recolorable			= TRUE
      state           		= INSENSITIVE
      file					= "Range/null.png"
      border				= { 0, 0, 0, 0 }
      stretch				= TRUE
      overlay_file			= "Range/slider-horiz2.png"
      overlay_stretch	= FALSE
      orientation			= VERTICAL
    }
  }
}

style "nautilus-extra-view"
{

	xthickness		= 0
	ythickness		= 0

	bg[NORMAL]	= @bg_color #color of extra view

}

style "nautilus-notebook" 
{
	xthickness		= 0
	ythickness		= 0
}


style "nautilus-breadcrumbs"
{
	xthickness = 6
	ythickness = 4
	
	GtkButton::child-displacement-y	= 0
	#GtkButton::inner-border	= { 0, 11, 0, 0}

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			shadow			= OUT
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "/Buttons/breadcrumb-hover.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}		

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			shadow			= IN
			state			= PRELIGHT
			file			= "/Buttons/breadcrumb-hover.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}		
	  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= NORMAL
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file			= "/Buttons/breadcrumb-push.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "/Buttons/breadcrumb-hover.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= SELECTED
			file			= "/Buttons/breadcrumb-push.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}

		image
		{
			function        	= FOCUS
			recolorable     	= TRUE			
			file			= "/Nautilus/slider_focus.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}
	}
}

style "nautilus-left-slider"
{
	xthickness = 4
	ythickness = 4
	
	engine "pixmap"
	{
		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= NORMAL
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= SELECTED
			file			= "/Buttons/breadcrumb-push.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE			
			state			= PRELIGHT
			file			= "/Buttons/breadcrumb-hover.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}

		image
		{
			function        	= FOCUS
			recolorable     	= TRUE			
			file			= "/Nautilus/slider_focus.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}

	}

}

style "nautilus-right-slider"
{	
	xthickness = 4
	ythickness = 4
	
	engine "pixmap"
	{
		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= NORMAL
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= INSENSITIVE
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= ACTIVE
			file			= "/Buttons/breadcrumb-normal.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image 
		{
			function 		= BOX
			recolorable     	= TRUE
			state			= SELECTED
			file			= "/Buttons/breadcrumb-push.png"
			border			= { 9,9,12,13 }
			stretch			= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state			= PRELIGHT
			file			= "/Buttons/breadcrumb-hover.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}

		image
		{
			function        	= FOCUS
			recolorable     	= TRUE			
			file			= "/Nautilus/slider_focus.png"
			border			= { 9,9,12,13 }
			stretch         	= TRUE
		}
	}
}

widget		"*NautilusNavigationWindow"	style "nautilus-window-base"
widget		"*Nautilus*Splitter"		style "nautilus-handle"
widget_class	"*Nautilus*View*"		style "nautilus-view"
widget_class	"*Nautilus*NautilusSidePane*"	style "nautilus-sidebar"
widget_class "*Nautilus*Statusbar*"		style "nautilus-statusbar"
widget_class "*Nautilus*Scale*"			style "nautilus-scale"

widget_class	"*Nautilus*Notebook"		style "nautilus-notebook"

widget "*.nautilus-extra-view-widget" 		style : highest "nautilus-extra-view"

#widget_class "*NautilusPathBar.*ToggleButton*"  style "nautilus-breadcrumbs" 
widget_class "*NautilusPathBar.*"		style "nautilus-breadcrumbs" 
#widget "*NautilusPathBar.*left_slider*" 			style "nautilus-left-slider" 
#widget "*NautilusPathBar.*right_slider*" 		style "nautilus-right-slider"
