style "gedit-frame"
{	
	engine "pixmap"
	{
 		image
		{
			function = SHADOW
                	file = ""
		}
	}
}

widget_class "*Gedit*.<GtkFrame>*"     			style "gedit-frame"

style "theme-button-gedit" 
{
	xthickness = 8
	ythickness = 4

	bg[NORMAL] 		= shade (0.95, @bg_color)
	bg[PRELIGHT]		= shade (1.05, @bg_color)

	engine "murrine" 
	{
	}
}

#to put further down in the config:
widget_class "*Gedit*Entry*<GtkButton>" style "theme-button-gedit"
